﻿@model IEnumerable<GradAcademyCSharp.Models.PaidInvoiceModel>

@{
    ViewBag.Title = "Index";
}

<h2>Paid invoices</h2>
<br />

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountDueBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountDueAfter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountDueBefore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AmountDueAfter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletedDate)
                </td>
            </tr>
        }
    </table>
</div>