﻿@model GradAcademyCSharp.Models.WorkerModel

@{
    ViewBag.Title = "Details";
}

<h2>Profile</h2>
<hr />

<div>
    <h4>General Information</h4>
    <hr/>
    <br/>
    <div>
        <div>
            @Html.LabelFor(model => model.FirstName)
            @Html.DisplayFor(model => model.FirstName)
        </div>
        <div>
            @Html.LabelFor(model => model.LastName)
            @Html.DisplayFor(model => model.LastName)
        </div>
        <div>
            @Html.LabelFor(model => model.JobTitle)
            @Html.DisplayFor(model => model.JobTitle)
        </div>
        <div>
            @Html.LabelFor(model => model.EmailAddress)
            @Html.DisplayFor(model => model.EmailAddress)
        </div>
    </div>
</div>
<br/>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
