﻿@model List<GradAcademyCSharp.Models.InvoiceModel>

@if (Model.Any())
{
    <table class="table" id="PaymentInvoiceTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => Model[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].AmountDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].Scheduled)
        </th>
    </tr>

    @for (var i = 0; i < Model.Count(); i++)
    {
    @Html.HiddenFor(modelItem => Model[i].Id)
    @Html.HiddenFor(modelItem => Model[i].ClientId)

    <tr>
        <td>
            @Html.HiddenFor(modelItem => Model[i].Id)
            @Html.DisplayFor(modelItem => Model[i].Id)
        </td>
        <td>
            @Html.HiddenFor(modelItem => Model[i].TotalAmount)
            @Html.DisplayFor(modelItem => Model[i].TotalAmount)
        </td>
        <td>
            @Html.HiddenFor(modelItem => Model[i].AmountDue)
            @Html.DisplayFor(modelItem => Model[i].AmountDue)
        </td>
        <td>
            @Html.HiddenFor(modelItem => Model[i].DueDate)
            @Html.DisplayFor(modelItem => Model[i].DueDate)
        </td>
        <td>
            @Html.EditorFor(modelItem => Model[i].Scheduled)
        </td>
    </tr>
    }
</table>
    
}



