﻿@model GradAcademyCSharp.Models.PaymentModel

@{
    ViewBag.Title = "Edit";
}

<h2>Apply Check to Invoices</h2>
<hr />

<div>
    <h3>Amount Remaining: @Html.DisplayFor(model => model.Check.Amount)</h3>

    Schedule payment for one or more invoices up the sum total of the check.<br/>
    NOTE: The check will be applied to invoices with earlier due dates first.
</div>
<br />

@using (Html.BeginForm(new {checkId = Model.Check.Id}))
{
    @Html.AntiForgeryToken()
    
    <fieldset>
        @Html.Partial("_InvoicesEditPartial", Model.ClientInvoices.ToList())
    </fieldset>

    <input type="submit" value="Save" class="btn btn-primary"/>
    if (Model.Check.AssignedWorker.HasValue)
    {
        @Html.ActionLink("Back to Checks", "Index", "Payment", new { id = Model.Check.AssignedWorker.Value }, new { @class = "btn btn-primary" })
    }

}




