﻿@model GradAcademyCSharp.Models.WorkerCheckModel

@{
    ViewBag.Title = "Your Queue";
}

<h2>Your Queue</h2>
<br/>
<div>
    @Html.LabelFor(model => model.Worker.AverageCompletionTime)
    @Html.DisplayFor(model => model.Worker.AverageCompletionTime)
</div>
<div>
    @Html.LabelFor(model => model.Worker.NumChecksCompleteInLastSevenDays)
    @Html.DisplayFor(model => model.Worker.NumChecksCompleteInLastSevenDays)
</div>
Use the Schedule Payment link to assign the selected check to one (or more) invoices.
<hr/>



<div>
    @Html.ActionLink("Add more checks", "AddItems", new { id = Model.Worker.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Paid invoices", "Index", "PaidInvoice", new {id = Model.Worker.Id}, new {@class = "btn btn-primary"})
</div>
<br/>

<div class="row">
    @if (Model.WorkableChecks.Any())
    {
        @Html.Partial("_WorkableChecksPartial", Model.WorkableChecks)
    }
</div>

   






